.headerContainer {
  background-color: #9fbfe3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  justify-content: space-around;
  border-bottom: 3px black solid;
}
button {
  display: inline-block;
  border-radius: 25px;
  background-color: #202020;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
}
